.video-container {
  position: relative;
  width: 100%;
  height: 65vh; /* Set height to 100% of the viewport height */
  overflow: hidden;
}

.video-container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}

.video-container video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  filter: brightness(0.5);
  object-fit: cover; /* Ensures the video covers the entire container */
}

.centered-text {
  position: absolute;
  top: 70%;
  left: 20%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #f1593a; /* Set text color to #f1593a */
  z-index: 1;
}

@media (max-width: 639px) {
  .centered-text {
    top: 50%;
    left: 40%;
    font-size: 24px; /* Adjust font size for smaller screens */
  }
}

.scroll-container {
  position: absolute;
  bottom: -50px; /* Adjust this value as needed */
  right: 0; /* Adjust this value as needed */
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@media (max-width: 640px) {
  .scroll-container {
    right: 0;
    left: 0;
    top: -100;
    justify-content: center;
  }
}

.scroll-container h4 {
  margin-left: 50px;
  color: #f1593a; /* Optional: set text color */
}
